* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

$bgColor:#2d3261;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .navbar {
    display: flex;
    h1 {
      font-family: poppins;
    }
  }
  .footer {
    background-color: $bgColor;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h6 {
      color: #fff;
      text-align: center;
    }
  }
}


.fa-5x{
  font-size: 2rem;
}
.itemsPrice{
  color:gray;
}

.img{
  height:4rem;
  width:4rem;
  margin-top: 0.5rem;
}

.cartItems{
  display: grid;
  grid-template-rows: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height:5rem;
  border: 1px solid #333;
  // justify-content: space-between;
  padding:0px 2rem 0px 2rem;
  background-color: rgb(250, 243, 243);
}

.sub-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap:3rem

}
.navbar{
  background-color:$bgColor;
  padding: 1rem;
  
}
.faTimes{
  margin-top:1.5rem;
}
// .card {
//   background-color: #fff;
//   color: #333;
//   border-radius: 15px;
//   padding: 40px 50px;
//   margin: 20px 0;
//   position: relative;
// }