* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .navbar {
    display: flex;
    h1 {
      font-family: poppins;
    }
  }
  .footer {
    background-color: #333;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      color: #fff;
      text-align: center;
    }
  }
}

.d-flex{
    // row-gap: 5rem;
}
.fa-5x{
  font-size: 2rem;
}
.itemsPrice{
  color:gray;
}

.img{
  height:4rem;
  width:4rem;
}

.cartItems{
  display: flex;
  border: 1px solid #333;
  justify-content: space-between;
  padding:0px 2rem 0px 2rem;
}

.sub-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap:3rem

}
